<div class="container">
  <!-- <div>
    <p-card styleClass="outerCard">
      <h1 style="font-weight: bold;">Bookmarked:</h1>
      <div *ngFor="let data of bookmarks">
        <p-card pRipple styleClass="innerCard">
          <ng-template pTemplate="title">
            <div>
              <h3 class="Section:">
                {{ data.docName }} ({{data.timestamp}})
                <i class="pi pi-share-alt" style="cursor: pointer"></i>
              </h3>
            </div>
          </ng-template>
          <ng-template pTemplate="content">
            <b class="subTitle"> </b
            ><i
              ><label>{{ data.description }}</label></i
            >
          </ng-template>
        </p-card>
      </div>
    </p-card>
  </div> -->




<!-- To display uploaded documents -->
<p-table
  #dt
  [value]="bookmarks"
  [rows]="5"
  [paginator]="true"
  [rowHover]="true"
  dataKey="id"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [showCurrentPageReport]="true"
>
  <ng-template pTemplate="caption">
    <div class="p-d-flex p-ai-center p-jc-between">
      <h3 class="p-m-0">All Bookmarks</h3>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr style="color: coral">
      <th>Name Of Document</th>
      <th>Version</th>
      <th>Timestamp</th>
      <th>Action</th>

    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td style="font-weight: 500">
        {{ product.docName | uppercase }}
      </td>
      <td>V1.{{product.version}}</td>
      <td>{{ product.timestamp | date: "EEE, dd-MMM yyyy" }}</td>
      <td >
        <i class="pi pi-download icon" (click)="download(product.id)"></i>
        <i class="pi pi-share-alt icon"></i>
        <i class="pi pi-trash icon" (click)="cancleBookmark(product.id)"></i>  
      </td>
      
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="p-d-flex p-ai-center p-jc-between pagination">
      In total there are {{ bookmarks ? bookmarks.length : 0 }} Documents Bookmarked.
    </div>
  </ng-template>
</p-table>


<!-- to display success or error msg -->
<p-toast></p-toast>

</div>
