::ng-deep .innerCard{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(206, 229, 245, 0.933);
    margin: 1em;
    border-radius: 0px;
}


.icon{
    margin: 00px 10px;
    color: #d93954;
    cursor: pointer;
}

pre{
    word-wrap: normal;
    inline-size: 100%; 
    overflow: scroll;
    font-family:Georgia;
  }

  ::ng-deep .buttons{
    background-color: #d93954;
    border-color: white;
  }

  .buttons:hover{
    background-color: #cc0728;
    border-color: #d93954;
  }
