<div class="container">
  <div class="cardData" style="width: 100%">
    <div class="flex card-container">
      <div class="flex-none flex justify-content-center m-2 px-1">
        <i
          class="pi pi-bars"
          style="float: left; padding: 1rem; font-size: 2rem; cursor: pointer"
          (click)="sideBar()"
        ></i>
        <img
          style="width: 80px"
          src="assets\Images\outline_logo2.png"
          alt="Logo"
        />
      </div>
      <div
        class="flex-grow-1 flex align-items-center justify-content-center m-2"
      >
        <span class="title1">Digital Accounting Manual System</span>
      </div>
      <div
        class="flex-none flex align-items-center justify-content-center m-2 px-3"
      >
        <span class="userData" style="font-size: larger; font-family: Georgia"
          >Welcome {{ user }}</span
        >
        <img src="assets\Images\user.png" alt="profile" />
      </div>
    </div>
  </div>

  <!-- Left Panel -->

  <div class="leftpanel">
    <div *ngIf="sidebar" class="nav-pane">
      <div>
        <ul class="listItem">
          <li class="item" (click)="onClickHome()">
            <i class="pi pi-home"></i> <a> Home</a>
          </li>
          <li class="item" (click)="onClicDocMngmnt()">
            <i class="pi pi-book"></i><a> Document Management</a>
          </li>
          <li class="item" (click)="onClickBookmarks()">
            <i class="pi pi-book"></i><a> Bookmarks</a>
          </li>
          <li class="item" (click)="logout()">
            <i class="pi pi-sign-out"></i><a> Logout</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="pages">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
