<div class="container">
  <p-toolbar
    style="width: 100%"
    styleClass="toolbar"
   >
    <div class="p-toolbar-group-left">
      <i
        class="pi pi-bars"
        style="
          float: left;
          padding: 1rem;
          font-size: 2rem;
          cursor: pointer;
          color: white;
        "
        (click)="sideBar()"
      ></i>

      <img style="width: 100px;" src="assets\Images\outline_logo2.png" alt="Logo">
    </div>



    <h1 style="text-align: center; justify-content: center;" class="title1">
      Digital Accounting Manual System
    </h1>
    <div class="p-toolbar-group-right">
      <span style="font-size: larger;">Welcome {{user}}</span>
      <img src="assets\Images\user.png" alt="profile" />
    </div>
  </p-toolbar>



  
  <div class="leftpanel">
    <div *ngIf="sidebar" class="nav-pane">
      <div >
        <ul class="listItem">
          <li class="item">
            <i class="pi pi-home"></i> <a routerLink="/home"> Home</a>
          </li>
          <li class="item">
            <i class="pi pi-book"></i
            ><a routerLink="/docManagement"> Document Management</a>
          </li>
          <li class="item">
            <i class="pi pi-book"></i
            ><a routerLink="/bookmarks"> Bookmarks</a>
          </li>
          <li class="item"><i class="pi pi-sign-out"></i><a (click)="logout()"> Logout</a></li>
        </ul>
      </div>
    </div>

    <div class="pages">
      <router-outlet></router-outlet>
    </div>


  </div>
</div>
