<div class="container">
  <p-toolbar styleClass="upoadToolbar">
    <button
      pButton
      class="p-button-sm buttons"
      (click)="onUpload()"
      label=" Upload Document"
      style="font-family: Arial"
      icon="pi pi-plus"
    ></button>

    <button
      pButton
      class="p-button-sm buttons"
      (click)="onClickCreateNew()"
      label=" Create New Document"
      style="font-family: Arial"
      icon="pi pi-plus"
    ></button>
  </p-toolbar>

  <p-dialog
    [(visible)]="uploadDialog"
    [style]="{ width: '40%' }"
    styleClass="p-fluid"
    [modal]="true"
  >
    <h3>Upload documents Here</h3>
    <hr />
    <ng-template pTemplate="content">
      <input
        class="p-inputtext-sm padding"
        type="file"
        accept=".docx"
        pInputText
        id="dos"
        name="file"
        required
        autofocus
        (change)="selectFile($event)"
      />
      &nbsp;
      <button
        pButton
        pRipple
        label="Upload"
        icon="pi pi-upload"
        class="p-button-success buttons"
        [disabled]="!selectedFiles"
        (click)="uploadFile()"
      ></button>
    </ng-template>

    <ng-template pTemplate="footer">
      <button
        style="margin-top: 5px"
        pButton
        pRipple
        label="Cancel"
        icon="pi pi-times"
        class="p-button-text buttons"
        (click)="onCancle()"
      ></button>
    </ng-template>
  </p-dialog>
</div>

<!-- to display success or error msg -->
<p-toast></p-toast>

<p-table
  #dt
  [value]="documents"
  [rows]="5"
  [paginator]="true"
  [rowHover]="true"
  dataKey="id"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [showCurrentPageReport]="true"
>
  <ng-template pTemplate="caption">
    <div class="p-d-flex p-ai-center p-jc-between">
      <h3 class="p-m-0">All Documents</h3>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr style="color: coral;">
      <th>Name Of Document</th>
      <th>Timestamp</th>
      <th>Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td style="font-weight:500;">{{ product.sourceAsMap.Name | uppercase }}</td>
      <td>{{ product.sourceAsMap.timestamp | date: "EEE, dd-MMM yyyy" }}</td>
      <td>
        <button
          pButton
          type="button"
          label="VIEW"
          class="p-button-sm buttons"
          icon="pi pi-check"
          (click)="onClickView(product.sourceAsMap.Name)"
        ></button>
      </td>
      <td>
        <button
          pButton
          type="button"
          label="Update Document"
          class="p-button-sm buttons"
          icon="pi pi-check"
          (click)="onClickUpdate(product.sourceAsMap.id)"
        ></button>
      </td>

    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="p-d-flex p-ai-center p-jc-between pagination">
      In total there are {{ documents ? documents.length : 0 }} Documents.
    </div>
  </ng-template>
</p-table>


  <div>
    <p-dialog
      [(visible)]="createNewDocument"
      [style]="{ width: '80%' }"
      [modal]="true"
      styleClass="p-fluid"
    >
      <ng-template pTemplate="content">
        <h3>Create New Document</h3>
        <hr />
        <div>
          <h5>Document Name</h5>
          <input
            [(ngModel)]="newSampleDocData.docName"
            pInputText
            placeholder="Enter Document Name"
          />
        </div>
        <div>
          <h5>Document Content</h5>
          <p-editor
            [(ngModel)]="newSampleDocData.docContent"
            [style]="{ height: '220px' }"
          ></p-editor>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button
          style="margin-top: 5px"
          pButton
          pRipple
          label="Cancel"
          icon="pi pi-times"
          class="p-button-text"
          (click)="onCancle()"
        ></button>
        <button
          style="margin-top: 5px"
          pButton
          pRipple
          label="Save"
          icon="pi pi-check"
          class="p-button-text"
          (click)="saveData()"
        ></button>
      </ng-template>
    </p-dialog>
  </div>



  <!-- for updating doc -->
  <p-dialog
    [(visible)]="updateDocDialog"
    [style]="{ width: '40%' }"
    styleClass="p-fluid"
    [modal]="true"
  >
    <h3>Update documents Here</h3>
    <hr />
    <ng-template pTemplate="content">
      <input
        class="p-inputtext-sm padding"
        type="file"
        accept=".docx"
        pInputText
        id="dos"
        name="file"
        required
        autofocus
        (change)="selectFile1($event)"
      />
      &nbsp;
      <button
        pButton
        pRipple
        label="Upload"
        icon="pi pi-upload"
        class="p-button-success buttons"
        [disabled]="!selectedFiles"
        (click)="updateFile()"
      ></button>
    </ng-template>

    <ng-template pTemplate="footer">
      <button
        style="margin-top: 5px"
        pButton
        pRipple
        label="Cancel"
        icon="pi pi-times"
        class="p-button-text buttons"
        (click)="onCancle()"
      ></button>
    </ng-template>
  </p-dialog>
