<div class="container">
  <p-toolbar>
    <button
      pButton
      class="p-button-sm primaryButton"
      (click)="onUpload()"
      label=" Upload Document"
      icon="pi pi-plus"
    ></button>

   
  </p-toolbar>
  <!-- <p-card styleClass="outerCard">
    <div *ngFor="let data of documents">
      <p-card
        pRipple
        styleClass="innerCard"
        (dblclick)="onClickDocument(data.id)"
      >
        <h1 class="title">{{ data.title }}</h1>
        <b class="subTitle"> Type of Document: </b
        ><i
          ><label>{{ data.type }}</label></i
        ><br /><br />
        <b class="subTitle"> Author By: </b> <label>{{ data.authorBy }}</label
        ><br /><br />
        <b class="subTitle">Desription: </b>
        <label class="descriptipn">{{ data.description }}</label>
      </p-card>
    </div>
  </p-card> -->

  <p-dialog
    [(visible)]="uploadDialog"
    [style]="{ width: '40%' }"
    styleClass="p-fluid"
    [modal]="true"
  >
    <h3>Upload documents Here</h3>
    <hr />
    <ng-template pTemplate="content">
      <!-- <div class="padding">
        <input pInputText placeholder="Enter Type of Document" [(ngModel)]="docData.typeOfDoc" />
      </div>
      <div class="padding">
        <input pInputText placeholder="Enter Auther of Document" [(ngModel)]="docData.autherOfDoc" />
      </div> -->

      <input
        class="p-inputtext-sm padding"
        type="file"
        multiple="multiple"
        accept=".docx"
        pInputText
        id="dos"
        name="file"
        required
        autofocus
        (change)="selectFile($event)"
      />
      &nbsp;
      <button
        pButton
        pRipple
        label="Upload"
        icon="pi pi-upload"
        class="p-button-success"
        [disabled]="!selectedFiles"
        (click)="uploadFile()"
      ></button>
    </ng-template>

    <ng-template pTemplate="footer">
      <button
        style="margin-top: 5px"
        pButton
        pRipple
        label="Cancel"
        icon="pi pi-times"
        class="p-button-text"
        (click)="onCancle()"
      ></button>
    </ng-template>
  </p-dialog>
</div>

<div>
  <p-card *ngFor="let data of searchedData">
   
        <div innerHTML={{data.sourceAsMap.Content | highlight}} ></div>
  </p-card>
</div>


<div>
  <p-card *ngFor="let data of documents">
    <h4>
        <span [innerHTML]="data.sourceAsMap.Content" ></span>
    </h4>        
  </p-card>
</div>
