<div class="container">
  <p-toolbar>
    <button
      pButton
      class="p-button-sm primaryButton"
      (click)="onUpload()"
      label=" Upload Document"
      icon="pi pi-plus"
    ></button>

    <div style="float: right; text-decoration: none">
      <input class="inputSearch" pInputText placeholder="Search here..." [(ngModel)]="searchKeyword" />
      &nbsp;
      <button pRipple pButton class="primaryButton" label="Search" (click)="search()"></button>
    </div>
  </p-toolbar>
  <p-card styleClass="outerCard">
    <div *ngFor="let data of documents">
      <p-card
        pRipple
        styleClass="innerCard"
        (dblclick)="onClickDocument(data.id)"
      >
        <h1 class="title">{{ data.title }}</h1>
        <b class="subTitle"> Type of Document: </b
        ><i
          ><label>{{ data.type }}</label></i
        ><br /><br />
        <b class="subTitle"> Author By: </b> <label>{{ data.authorBy }}</label
        ><br /><br />
        <b class="subTitle">Desription: </b>
        <label class="descriptipn">{{ data.description }}</label>
      </p-card>
    </div>
  </p-card>

  <p-dialog
    [(visible)]="uploadDialog"
    [style]="{ width: '40%' }"
    styleClass="p-fluid"
    [modal]="true"
  >
    <h3>Upload documents Here</h3>
    <hr />
    <ng-template pTemplate="content">
      <input
        class="p-inputtext-sm"
        type="file"
        multiple="multiple"
        pInputText
        id="dos"
        required
        autofocus
        (change)="selectFile($event)"
      />
      &nbsp;
      <button
        pButton
        pRipple
        label="Upload"
        icon="pi pi-upload"
        class="p-button-success"
        (click)="uploadFile()"
      ></button>
    </ng-template>

    <ng-template pTemplate="footer">
      <button
        style="margin-top: 5px"
        pButton
        pRipple
        label="Cancel"
        icon="pi pi-times"
        class="p-button-text"
        (click)="onCancle()"
      ></button>
    </ng-template>
  </p-dialog>
</div>
