::ng-deep .highlighted-text{
    background-color: yellow;
  }

  ::ng-deep .dataCard{
    margin: 10px;
    background-color: #ecd790;
}

::ng-deep .docTitle{
    display: inline-block;
    /* flex-wrap: wrap; */
}