<p-toolbar>
  <div style="float: right; text-decoration: none">
    <input
      class="inputSearch"
      type="search"
      pInputText
      placeholder="Search here..."
      [(ngModel)]="searchKeyword"
      (keyup.enter)="search()"
      styleClass="p-fluid"
    />
    &nbsp;
    <button
      pRipple
      pButton
      class="p-button-sm seachButton"
      label="Search"
      (click)="search()"
    ></button>
  </div>
</p-toolbar>

<div>
  <p-dialog
    [(visible)]="uploadDialog"
    [style]="{ width: '40%' }"
    styleClass="p-fluid"
    [modal]="true"
  >
    <h3>Upload documents Here</h3>
    <hr />
    <ng-template pTemplate="content">
      <input
        class="p-inputtext-sm"
        type="file"
        multiple="multiple"
        accept="application/pdf"
        pInputText
        id="dos"
        name="file"
        required
        autofocus
        (change)="selectFile($event)"
      />
      &nbsp;
      <button
        pButton
        pRipple
        label="Upload"
        icon="pi pi-upload"
        class="p-button-success"
        [disabled]="!selectedFiles"
        (click)="uploadFile()"
      ></button>
    </ng-template>

    <ng-template pTemplate="footer">
      <button
        style="margin-top: 5px"
        pButton
        pRipple
        label="Cancel"
        icon="pi pi-times"
        class="p-button-text"
        (click)="onCancle()"
      ></button>
    </ng-template>
  </p-dialog>
</div>

<div>
  <p-card *ngFor="let data of searchedData" styleClass="dataCard">
    <div class="docTitle" style="font-family: ITC Charter Regular">
      <span style="font-weight: 700" [innerHTML]="data.Name | uppercase"></span>
      &nbsp;
      <span
        >(Uploaded On:{{
          data.timestamp | date: "EEE, dd-MMM yyyy, h:mm:ss aa"
        }})</span
      >
    </div>
    <hr />
    <div *ngFor="let content of data.highlightsMap.Content">
      <p-card class="contentCard">
        <span [innerHTML]="content" style="margin: 10px"> </span><a href="">show more...</a>
      </p-card>
    </div>
  </p-card>

  <!-- <button pButton label="View Doc" (click)="onViewDoc()"></button> -->

  <!-- <div *ngIf="viewDoc">
    <ngx-doc-viewer
      url="https://calibre-ebook.com/downloads/demos/demo.docx"
      viewer="url"
      style="width: 100%; height: 100vh"
    ></ngx-doc-viewer> -->

  <div *ngIf="viewDoc">
    <ngx-doc-viewer
      src="assets\BRD-Template.docx"
      viewer="google"
      style="width: 100%; height: 100vh"
    ></ngx-doc-viewer>
  </div>
</div>

<ngx-doc-viewer
  [url]="'assets/BRD-Template.docx'"
  viewer="office"
  style="width:100%;height:100vh;"
>
</ngx-doc-viewer>


