<div class="container">
  <p-toolbar>
    <div class="p-toolbar-group-left">
      <h2 style="margin-bottom: 10px">{{ versionDocName }}</h2>
    </div>
  </p-toolbar>

  <!-- <p-card class="docData">
    <button pButton class="p-button-sm buttons" label="Keywords"></button>
    &nbsp;
    <br />
  </p-card> -->
</div>
<br /><br />

<!-- Versions and Sections -->
<div class="grid">
  <div class="col-6">

    <p-table
      #dt
      [value]="documentData"
      [rows]="5"
      [paginator]="true"
      [rowHover]="true"
      dataKey="id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true"
    >
      <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
          <h3 class="p-m-0">All Versions</h3>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr style="color: coral">
          <th>Version</th>
          <th>Download</th>
          <th>Tomestamp</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-version>
        <tr>
          <td style="cursor: pointer">
            <a>V1.{{ version.version }}</a>
          </td>
          <td>
            <i
              style="cursor: pointer"
              class="pi pi-download"
              (click)="downloadDoc(version.id)"
            ></i>
          </td>
          <td>
            {{ version.timestamp | date: "EEE, dd-MMM yyyy" }}
          </td>
          <td>
            <button
              type="button"
              class="p-button-sm viewButton buttons"
              pButton
              label="View"
              icon="pi pi-check"
              (click)="onClickViewDoc(version)"
            ></button>
          </td>
          <td>
            <button
              type="button"
              class="p-button-sm viewButton buttons"
              pButton
              label="Section"
              icon="pi pi-check"
              (click)="onClickViewSection(version.id)"
            ></button>
          </td>
          <td>
            <button
              type="button"
              class="p-button-sm viewButton buttons"
              pButton
              label="Keywords"
              icon="pi pi-check"
              (click)="onClickViewKeywords(version.id)"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between pagination">
          In total there are
          {{ documentData ? documentData.length : 0 }} Versions.
        </div>
      </ng-template>
    </p-table>
  </div>

  <!-- All sections can view here -->
  <div class="col-6">
    <div *ngIf="sectionView">
      <p-table
        #dt
        [value]="sectionData"
        [rows]="5"
        [paginator]="true"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true"
      >
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-between">
            <h3 class="p-m-0">All Sections</h3>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr style="color: coral">
            <th>Version</th>
            <th>Download</th>
            <th>Timestamp</th>
            <th></th>
            <!-- <th>Action</th> -->
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-version>
          <tr>
            <td style="cursor: pointer">
              <a>V1.{{ version.version }}</a>
            </td>
            <td>
              <i
                style="cursor: pointer"
                class="pi pi-download"
                (click)="downloadSec(version.id)"
              ></i>
            </td>
            <td>
              {{ version.timestamp | date: "EEE, dd-MMM yyyy" }}
            </td>
            <td>
              <button
                type="button"
                class="p-button-sm viewButton buttons"
                pButton
                label="View"
                icon="pi pi-check"
                (click)="onClickViewSec(version)"
              ></button>
            </td></tr
        ></ng-template>

        <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between pagination">
            In total there are
            {{ documentData ? documentData.length : 0 }} Documents.
          </div>
        </ng-template>
      </p-table>
    </div>

    <!-- view all keywords -->
  <div *ngIf="keywordsView">
    <p-table
      #dt
      [value]="keywordsData"
      [rows]="5"
      [paginator]="true"
      [rowHover]="true"
      dataKey="id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true"
    >
      <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
          <h3 class="p-m-0">All Keywords</h3>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr style="color: coral">
          <th>Keyword</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-keyword>
        <tr>
          <td style="cursor: pointer">
            <a>{{ keyword.term }} </a>
          </td>
          <td>
            <button pButton class="p-button-sm buttons" label="Aprrove" (click)="onClickApprove(keyword.term)"></button>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between pagination">
          In total there are
          {{ keywordsData ? keywordsData.length : 0 }} keywords.
        </div>
      </ng-template>
    </p-table>
  </div>
</div>
</div>


<div>
  <!-- Document Description -->
  <p-dialog
    [(visible)]="docView"
    [style]="{ width: '80%' }"
    styleClass="p-fluid"
    [modal]="true"
    class="docData"
  >
    <div>
      <div>
        <span style="font-size: larger; font-weight: bold">{{
          versionDocName
        }}</span>
        <i
          *ngIf="versionDocData.bookmarked"
          (click)="bookmarkSection(versionDocData.id)"
          class="pi pi-bookmark-fill viewIcon"
          style="cursor: pointer bookamrk"
        ></i>

        <i
          *ngIf="!versionDocData.bookmarked"
          (click)="bookmarkSection(versionDocData.id)"
          class="pi pi-bookmark viewIcon"
          style="cursor: pointer bookamrk"
        ></i>

        <i class="pi pi-share-alt viewIcon"></i>
        <i
          class="pi pi-download viewIcon"
          (click)="downloadDoc(versionDocData.id)"
        ></i>
      </div>
      <hr style="width: 100%" />
      <pre>
        {{ versionDocData.content }}
      </pre>
    </div>
  </p-dialog>

  <!-- Section description -->
  <p-dialog
    [(visible)]="secView"
    [style]="{ width: '80%' }"
    styleClass="p-fluid"
    [modal]="true"
    class="docData"
  >
    <div>
      <div>
        <span style="font-size: larger; font-weight: bold">{{
          versionSecName
        }}</span>

        <i
          class="pi pi-download viewIcon"
          (click)="downloadDoc(versionSecData.id)"
        ></i>
      </div>
      <hr style="width: 100%" />
      <pre>
        {{ versionSecData.content }}
      </pre>

      <!-- <textarea style="height: 50vh;">{{ versionDocData.content }}</textarea> -->
    </div>
  </p-dialog>
</div>

<!-- Alert Messages -->
<p-toast></p-toast>
